/*-- INDEX --*/
body{
    font-family:'Courier New', Courier, monospace;
}
#index-title {
    text-align: center;
    color: #eea214;
    background-color: #000000;
}
#header-2 {
    color: #eea214;
    display: inline;
    background-color: #000000;
    margin-left: 35px;
    list-style: none;
    font-size: 85px;    
}

#main-menu{
    list-style: none;
}

.recipe-link:before {
        content:"*";
        font-size:120px;
        vertical-align:bottom;
        line-height:20px;
}

.recipe-link {
    text-decoration: none;
    color: #000000; 
    background-color: #eea214;
    font-size: 80px;
    line-height: 120%;
}
.copyright{
    font-size: 15px;
    background-color: #eea214;
}
/*recipes*/

#title{
    background-color: #eea214;
}

ul li {
    list-style: none;
}

.header{  
    color: #000000;
    background-color: #eea214;
    display: inline;
}



#back-home-link{
    text-decoration:none;
}

